<h2><%= t('.title') %></h2>
<%= link_to image_tag("dashboard/pack_1_note_check_purple.png") + "Gestion du catalogue",
            admin_catalog_management_root_path, :class => "icon_text" %>
<%= link_to image_tag("dashboard/pack_1_view_invoice.png") + t('.general_configuration_link'),
            admin_general_configuration_root_path, :class => "icon_text" %>
